@page
@model Skyworkz.News.Pages.AddnewsModel
@{
    ViewData["Title"] = "Create a new Article";
}

<div class="row">
    <div class="col-md-12">
        <h1>Create a new News Article</h1>
    </div>
</div>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.ViewModel.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ViewModel.Title,
                    new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.ViewModel.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ViewModel.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ViewModel.Description,
                  new { htmlAttributes = new { @class = "form-control", @autofocus = "autofocus", @required = true } })
                @Html.ValidationMessageFor(model => model.ViewModel.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit"/>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class="col-md-12">
        <a asp-page="./Index">Back to List</a>
    </div>
</div>